/* *** Contact Page *** */

.bb-contact-form-block {
  .bb-txt-msg {
    text-align: left;
    margin-bottom: $mb-xs;
  }
  margin-bottom: $mb-md;
  .row-gdpr-agreement {
    margin-top: $mb-xs;
  }
}
